main section:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
}

main section:first-child h1 {
  width: 100%;
}

main section:first-child form {
  width: 50%;
}

main section:first-child form > fieldset legend {
  font-family: 'Merienda', cursive;
  text-align: center;
  font-size: large;
}

main section:first-child form > fieldset label {
  font-size: medium;
}

main section:first-child form > fieldset input,
main section:first-child form > fieldset textarea {
  width: 100%;
  height: 25px;
  border: none;
  background-color: aliceblue;
}

main section:first-child form > fieldset textarea:nth-child(2) {
  min-height: 100px;
}

main section:first-child form > fieldset div > button {
  margin: 2% 3%;
  font-size: medium;
  background-color: #E6B3F2;
  -webkit-box-shadow: 0 15px 35px #562F83, 0 5px 15px #D7C5FA;
          box-shadow: 0 15px 35px #562F83, 0 5px 15px #D7C5FA;
  border: none;
}

main section:first-child article:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  width: 45%;
}

main section:first-child article:last-child aside {
  margin: 5px;
}

main section:first-child article:last-child address {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: bold;
  text-align: center;
  font-size: medium;
  height: auto;
}

main section:first-child article:last-child address > a {
  color: black;
}

main div:last-child div.map {
  height: 300px;
  border: 2px double black;
}

@media only screen and (min-width: 859px) and (max-width: 1023px) {
  aside {
    font-size: smaller;
  }
}

@media only screen and (min-width: 842px) and (max-width: 858px) {
  main {
    font-size: small;
  }
  main address {
    font-size: small;
  }
}

@media only screen and (min-width: 659px) and (max-width: 841px) {
  main {
    font-size: x-small;
  }
}

@media only screen and (min-width: 491px) and (max-width: 658px) {
  main section:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 10px 0 10px;
  }
  main section:first-child form {
    width: 100%;
  }
  main section:first-child article:last-child {
    width: 100%;
  }
}

@media only screen and (min-width: 409px) and (max-width: 490px) {
  main {
    font-size: small;
  }
  main section:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 10px 0 10px;
  }
  main section:first-child form {
    width: 100%;
  }
  main section:first-child article:last-child {
    width: 100%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 490px) {
  main {
    font-size: x-small;
  }
  main section:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 10px 0 10px;
  }
  main section:first-child form {
    width: 100%;
  }
  main section:first-child article:last-child {
    width: 100%;
  }
}
/*# sourceMappingURL=contact.css.map */